.about-career {
    padding-top: 110px;
    padding-bottom: 30px;
}

.career {
    padding-bottom: 60px;
}

/*==================CAREER-ADVANTAGES====================*/

.career-advantages-title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #FFF;
}

.career-advantages-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.career-advantages-item {
    padding: 30px;
    border-radius: 15px;
    border: 1px solid var(--theme-grey);
}

.career-advantages-suptitle {
    margin-bottom: 30px;
    color: var(--theme-accent);
}

.career-advantages-description {
    color: #FFF;
}

.career-advantages {
    padding-bottom: 60px;
}

/*==================REASONS====================*/

.reasons {
    padding-bottom: 60px;
}

.reasons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.reasons-title {
    font-size: 30px;
    color: #FFF;
}

.reasons-container-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.reasons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.reasons-item {
    padding: 30px 20px;
    border-radius: 15px;
    border: 1px solid var(--theme-grey);
    background: var(--theme-grey);
    color: #FFF;
}

@media screen and (min-width: 768px) {

    .career {
        padding-bottom: 80px;
    }

    /*==================CAREER-ADVANTAGES====================*/

    .career-advantages {
        padding-bottom: 80px;
    }

    .career-advantages-item {
        width: calc((100% - 30px)/2);
    }

    /*==================REASONS====================*/

    .reasons {
        padding-bottom: 80px;
    }

    .reasons-container-column {
    width: calc((100% - 30px)/2); 
}
}

@media screen and (min-width: 1200px) {
    .about-career {
        padding-top: 150px;
        padding-bottom: 50px;
    }

/*==================ABOUT-US====================*/

    .career {
        padding-bottom: 100px;
    }

    .career-text {
        width: 383px;
        text-indent: 32px;
    }
    
    .career-about-text {
        width: 383px;
        text-indent: 110px;
    } 
    
    .career-text-add {
        height: 128px;
    } 

    .career-text-add {
        height: 128px;
    }

/*==================CAREER-ADVANTAGES====================*/

    .career-advantages {
        padding-bottom: 100px;
    }

    .career-advantages-title {
        font-size: 44px;
        margin-bottom: 50px;
    }

    /*==================REASONS====================*/

    .reasons {
        padding-bottom: 100px;
    }

    .reasons-title {
        font-size: 44px;
    }
}