.about-servises {
    padding-top: 110px;
    padding-bottom: 30px;
}

/*==================SERVISES====================*/

.servises {
    padding-bottom: 60px;
}

.servises-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.servises-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-between;
    padding: 30px 20px;
    border-radius: 15px;
    border: 1px solid var(--theme-grey);
}

.servises-list-add {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.servises-item-add {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
}

.servises-suptitle {
    font-size: 20px;
    color: var(--theme-accent);
    margin-bottom: 20px;
}

.servises-text-descrition {
    color: #FFF;
}

.servises-item-add-text {
    color: #FFF;   
}

.servises-icon {
    width: 24px;
    height: 24px;
}

/*==================COMMUNICATION====================*/

.communication {
    padding-bottom: 60px;
}

.communication-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--theme-accent);
}

.communication-text {
    text-align: center;
    color: #FFF;
}

.question {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (min-width: 768px) {

/*==================SERVISES====================*/

    .servises {
        padding-bottom: 80px;
    }

    .servises-text {
        width: 418px;
    }

    .servises-list-add {
        display: block;
    }

/*==================COMMUNICATION====================*/
    .communication {
        padding-bottom: 80px;
    }

    .question {
        padding-left: 16px;
        padding-right: 16px;
    }
    
}

@media screen and (min-width: 1200px) {

/*==================SERVISES====================*/

    .about-servises {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .servises {
        padding-bottom: 100px;
    }

    .servises-list {
        display: block;
    }

    .servises-item {
        padding: 30px 30px 60px;
    }

    .servises-item:not(:last-child) {
        margin-bottom: 30px;
    }

    .servises-text {
        text-indent: 197px;
    }

    .servises-suptitle-wrap {
        width: 740px;
    }
    
    .servises-list-add {
        width: 340px;
        display: flex;
        justify-content: flex-end;
    }

    .servises-item-add {
        flex-direction: row;
    }

    .servises-suptitle {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .servises-item-add-text {
        text-align: right;
    }

/*==================COMMUNICATION====================*/
    
    .communication {
        padding-bottom: 100px;
    }

    .communication-container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .communication-title {
        font-size: 44px;
        width: 970px;
        margin-bottom: 30px;
    }
    
    .communication-text {
        width: 970px;
    }

}