/*==================SERVISES====================*/

.servises-text {
    width: 418px;
    text-indent: 197px;
}

.servises-item {
    display: flex;
    justify-content:space-between;
    padding: 30px 30px 60px;
    border-radius: 15px;
    border: 1px solid var(--theme-grey);
}

.servises-item:not(:last-child) {
    margin-bottom: 30px;
}

.servises-suptitle-wrap {
    width: 740px;
}

.servises-list-add {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.servises-suptitle {
    color: var(--theme-accent);
    margin-bottom: 20px;
}

.servises-text-descrition {
    color: #FFF;
}

.servises-item-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.servises-item-add-text {
    text-align: right;
    color: #FFF;   
}

/*==================COMMUNICATION====================*/


.communication {
    padding: 100px 0;
}

.communication-container {
    padding-left: 100px;
    padding-right: 100px;
}

.communication-title {
    width: 970px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--theme-accent);
}

.communication-text {
    width: 970px;
    text-align: center;
    color: #FFF;
}