:root {
    --theme-dark: #041914; 
    --theme-grey: #434D48;
    --theme-stroke: #D1D4CE;
    --theme-light: #F8F9F7;
    --theme-accent: #BDFF00;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    /* width: 100%;
    height: auto; */
}

button {
    cursor: pointer;
}

body {
    font-family: Inter;
    background-color: var(--theme-dark);
}

.list {
    list-style: none;
} 

.link {
    text-decoration: none;
}

/*================COMPONENTS================*/

.text-add {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.78;
}

.title {
    font-size: 44px;
    font-weight: 300;
    line-height: 1.36;
}

.suptitle {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.25;
}

.description {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 2.25; 
}

.button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.hero-btn-wrap {
    display: flex;
    margin-top: 30px;
    margin-bottom: 87px;
}

.hero-background-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--theme-accent);
}

.hero-icon {
    fill: var(--theme-dark);
} 

/*================/COMPONENTS===============*/

.container {
    margin-left: 30px;
    margin-right: 30px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px) {
.container {
    width: 720px;
}

}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    }

/*================HEADER====================*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background: rgba(2, 19, 15, 0.80);
    backdrop-filter: blur(2.5px);
    position: fixed;
    display: block;
    margin: 0 auto;
    width: 100%;
    z-index: 1000;
}

.header-logo-container {
    width: 113px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    padding-top: 110px;
    padding-bottom: 60px;
}

.hero-title {
    width: 300px;
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-accent);
    margin-bottom: 20px;
}

.hero-text-add {
    font-size: 30px;
    color: #FFF;
}

.hero-decor {
    width: 300px;
    height: 246px;
    margin: 0 auto;
}

.hero-text {
    color: var(--Theme-accent, #BDFF00);
    margin-bottom: 20px;
}

.hero-btn {
    width: 165px;
    height: 60px;
    color:#FFF;
    border-radius: 30px;
    border: transparent;
    background-color: var(--theme-grey);
}

.hero-btn-wrap {
    margin-bottom: 0;
}

/*==================ADVANTAGES====================*/

.advantages {
    padding-bottom: 60px;
}

.advantages-title {
    font-size: 30px;
    color: #FFF;
    margin-bottom: 20px;
}

.advantages-text {
    text-align: left;
    color: var(--theme-accent);
    margin-bottom: 30px;
}

.advantages-text-dec {
    color: var(--Theme-grey, #434D48);
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67; 
    text-transform: uppercase;
    margin-bottom: 15px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.advantages-item {
    width: 300px;
    height: 216px;
    padding: 30px;
    border-radius: 15px;
    background: #02130F;
    color: #FFF;
}

/*==================ABOUT-HOMEPAGE====================*/

.about-us {
    padding-bottom: 120px;
}

.about-us-img {
    display: block;
    max-width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.about-us-wrap-text {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.about-us-title {
    font-size: 30px;
    color: #FFF;
    width: 300px;
    margin-bottom: 20px;
}

.about-us-text {
    color: var(--theme-accent);
}

.about-us-text-add {
    color: #FFF;
    margin-bottom: 30px;
}

.about-us-wrap-text {
    margin-top: 30px;
}

.about-us-background-icon {
    display: block;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--theme-accent);
}

.about-us-icon {
    fill: var(--theme-dark);
}

/*==============SERVISES-HOMEPAGE================*/

.servises-homepage {
    padding-top: 40px;
    padding-bottom: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--theme-light);
    position: relative;
}

.servises-homepage::before {
    width: 100%;
    height: 930px;
    display: block;
    content: '';
    border-radius: 30px 30px 0px 0px;
    border: 1px solid var(--theme-grey);
    background: #041914;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    z-index: -1;
}

.servises-homepage-title {
    font-size: 30px;
    text-align: center;
    color: var(--theme-dark);
}

.servises-homepage-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.servises-homepage-item {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 300px;
    height: 364px;
    border-radius: 15px;
    border: 1px solid var(--theme-stroke);
    padding: 30px 30px 60px;
}

.servises-homepage-item:hover {
    border: none;
    background: var(--theme-accent);
}

.servises-homepage-suptitle {
    color: var(--theme-dark);
    display: flex;
    align-items: center;
}

.servises-homepage-text {
    color: var(--theme-grey);
}

/*======COOPERATION-HOMEPAGE========*/

.cooperation-homepage {
    padding-top: 60px;
    padding-bottom: 60px;
}

.cooperation-homepage-title {
    font-size: 30px;
    text-align: center;
    color: #FFF;
    margin-bottom: 20px;
}

.cooperation-homepage-text {
    color: var(--theme-accent);
    margin-bottom: 30px;
}

.cooperation-homepage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.cooperation-homepage-item {
    width: 300px;
    height: 100%;
    border-radius: 15px;
    border: 1px solid var(--theme-grey, #434D48);
    background: rgba(4, 25, 20, 0.80);
    padding: 30px 20px;
}
.cooperation-homepage-text-number {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67; 
    text-transform: uppercase;
    color: var(--theme-grey);
    margin-bottom: 10px;
}

.cooperation-homepage-suptitle {
    color: var(--theme-accent);
    margin-bottom: 20px;
}

.cooperation-homepage-text-infm {
    color: #FFF;
} 

/*======FOOTER========*/

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-top: 1px solid var(--theme-grey);
}

.footer-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.25;
    text-align: center;
    color: var(--theme-grey, #434D48);
}

/* 0-1199 */
@media screen and (max-width: 1199px) {
    /*================HEADER====================*/
    .header-navigation {
        display: none;
    }
    
    .header-btn {
        display: none;
    }

    .mobile-header-background {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--theme-accent);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .mobile-menu {
        position: fixed;
        width: 360px;
        height: 486px;
        top: 80px;
        left: 0;
        z-index: 1000;
        border-radius: 15px;
        background-color: rgba(2, 19, 15, 0.95);
        backdrop-filter: blur(2.5px);
    }

    .mobile-menu-item {
        width: 124px;
        height: 54px;
        padding: 15px 30px;
    }
    
    .mobile-menu-link {
        color: #FFF;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5; 
    }
    
    .active {
        color: var(--theme-accent);
    }
    
    .mobile-menu-btn {
        width: 300px;
        height: 60px;
        margin: 17px 30px 60px 30px;
        border-radius: 30px;
        border: 1px solid var(--Theme-grey, #434D48);
        color:#BDFF00;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {
    .hero-decor {
        width: 480px;
        height: 393px;
    }

    .hero-text {
        text-align: justify;
        width: 521px;
    }

    .advantages-item {
        width: 270px;
    }
    
    .advantages-title {
        width: 521px;
        height: 120px;
        margin-bottom: 30px;
        font-size: 44px;
    }
    
    .advantages-text {
        width: 384px;
    }

    .advantages-list-wrap {
        position: relative;
    }
    
    .advantages-list {
        display: flex;
        margin: 0 auto;
        column-gap: 30px;
        row-gap: 70px;
        flex-wrap: wrap;
        width: 570px;
    }
    
    .advantages-item {
        width: 270px;
        padding: 30px;
    }

    .advantages-text-dec {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        line-height: 1.67; 
        font-weight: 300;
        text-transform: uppercase;
        color: var(--theme-grey);
    }
    
    .advantages-text-add {
        width: 210px;
        height: 96px;
        color: #FFF;
    }

    /*==================ABOUT-HOMEPAGE====================*/

    .about-us {
        padding-bottom: 120px;
    }

    .about-us-img {
        height: 306px;
    }

    .about-us-wrap-text {
        margin-top: 0;
    }

    .about-us-wrap {
        margin-left: auto;
    }
    
    .about-us-title {
        width: 509px;
        height: 60px;
        margin-bottom: 30px;
    }
    
    .about-us-text {
        width: 450px;
        text-align: justify;
    }
    
    .about-us-text-add {
        width: 470px;
        height: 88px;
        text-align: right;
    }

    /*==============SERVISES-HOMEPAGE================*/

    .servises-homepage {
        padding-top: 60px;
        padding-bottom: 80px;
        border-radius: 60px 60px 0px 0px;
    }

    .servises-homepage::before {
        height: 630px;
        border-radius: 60px 60px 0px 0px;
    }

    .servises-homepage-list {
        margin-top: 40px;
    }

    /*======COOPERATION-HOMEPAGE========*/

    .cooperation-homepage {
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: url(../images/detail-globe.svg);
        background-repeat: no-repeat;
        background-position: 100% 20%;
        background-size: 382px 465px;
    }
    
    .cooperation-homepage-title {
        font-size: 44px;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .cooperation-homepage-text {
        text-indent: 112px;
        margin-bottom: 30px;
        width: 471px;
    }

    .cooperation-homepage-list {
        justify-content: space-between;
    }

    .cooperation-homepage-item {
        width: 300px;
        height: 480px;
        flex-basis: calc((100% - 30px) / 2);
        border-radius: 15px;
        border: 1px solid var(--theme-grey, #434D48);
        background: rgba(4, 25, 20, 0.80);
        padding: 20px 30px;
    }
}

@media screen and (min-width: 1200px) {

/*================HEADER====================*/
    /* .header-container {
        padding-left: 15px;
        padding-right: 15px;
    } */

    .header {
        margin-top: 10px;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-header-btn {
        display: none;
    }

    .mobile-menu-open {
        display: none;
    }

    .header-link {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: #FFF;
    }
    
    .active {
        color: var(--theme-accent);
    }
    
    .header-list {
        display: flex;
        gap: 20px;
    }
    
    .header-btn {
        color: var(--theme-accent);
        width: 200px;
        height: 60px;
        border-radius: 30px;
        border: 1px solid var(--theme-grey);
        background-color: transparent;
        margin: 15px 0;
    }
/*==================HERO====================*/


    .hero {
        padding-top: 150px;
        padding-bottom: 100px;
        position: relative;
    }
    
    .hero-decor {
        width: 878px;
        height: 718px;
        position: absolute;
        z-index: -1;
    }

    .hero-title {
        width: 470px;
        font-size: 70px;
        margin-bottom: 30px;
    }

    .hero-text-wrap {
        width: 1170px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: absolute;
        bottom: 0;
    }
    
    .hero-text {
        width: 461px;
        text-indent: 44px;
        margin-bottom: 0;
    }
    
    .hero-text-add {
        font-size: 44px;
        width: 399px;
        height: 120px;
        text-align: right;
    }

    .hero-btn-wrap {
        margin-bottom: 87px;
    }

    /*==================ADVANTAGES====================*/

    .advantages {
        padding-top: 99px;
        padding-bottom: 100px;
    }
    
    .advantages-text {
        text-indent: 194px;
    }
    
    .advantages-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 79px;
    }
    
    .advantages-text-wrap {
        margin: auto;
    }

    .advantages-text {
        width: 100%;
        text-align: right;
        margin-bottom: 0;
    }

    /*==================ABOUT-HOMEPAGE====================*/

    .about-us-img {
        max-width: 1600px;
        width: 120%;
        height: 492px;
        margin: 0 auto;
        position: relative;
        left: -10%;
        margin-bottom: 30px;
    }

    .about-us-wrap {
        margin-left: 0;
    }

    .about-us-wrap-text {
        display: flex;
        justify-content: space-between;
    }

    .about-us-text {
        text-indent: 34px;
    }

    .about-us-icon {
        margin-bottom: auto;
    }

    /*==============SERVISES-HOMEPAGE================*/
   
    .servises-homepage {
        padding-top: 80px;
        padding-bottom: 100px;
        border-radius: 100px 100px 0px 0px;
    }

    .servises-homepage::before {
        height: 930px;
        border-radius: 100px 100px 0px 0px;
    }

    .servises-homepage-list {
        margin-top: 50px;
    }

    .servises-homepage-item {
        width: 370px;
        height: 334px;
    }

    /*======COOPERATION-HOMEPAGE========*/

    .cooperation-homepage {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../images/detail-globe.svg);
        background-repeat: no-repeat;
        background-position: 100% 43%;
        background-size: 466px 567px;
    }
    
    .cooperation-homepage-title {
        margin-bottom: 30px;
    }
    
    .cooperation-homepage-text {
        margin-bottom: 50px;
    }

    .cooperation-homepage-list {
        flex-wrap: nowrap;
    }
    
    .cooperation-homepage-item {
        width: 270px;
        height: 100%;
        border-radius: 15px;
        border: 1px solid var(--theme-grey, #434D48);
        background: rgba(4, 25, 20, 0.80);
        padding: 20px 30px;
    }

}


/*======MODAL========*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
} 

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 340px;
    height: 514px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
}

.modal-close-icon {
    fill: black;
}

.modal-title {
    color: var(--theme-dark, #041914);
    text-align: center;
    margin-top: 10px;
}

.modal-form {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-text {
    width: 280px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--theme-stroke, #D1D4CE);
    background: #FFF; 
    padding: 15px 20px;
    color: var(--theme-grey, #434D48);
    font-family: Inter;
}

.input-message {
    width: 280px;
    height: 120px;
    border-radius: 15px;
    padding: 15px 20px;
    resize: none;
}

.modal-btn {
    width: 280px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--theme-grey, #434D48);
    color: var(--theme-dark, #041914);
    background-color: transparent;
    padding: 0;
}

.thanks-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 340px;
    width: 340px;
    height: 368px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.thanks-wrap {
    padding: 10px 30px 30px;
}

.thanks-text {
    color: var(--theme-dark, #041914);
    text-align: center;
    margin-bottom: 20px;
}

.thanks-text-add {
    color: var(--theme-dark, #041914);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.25; 
    margin-bottom: 20px;
}


