.about-team {
    padding-top: 110px;
    padding-bottom: 30px;
}

.team {
    padding-top: 0;
    padding-bottom: 60px;
}

.about-wrap-text-team {
    margin-top: 60px;
}

@media screen and (min-width: 768px) {
    .team-text-about {
        text-align: left;
    }

    .about-wrap-text-team {
        margin-top: 80px;
    }

    .team {
        padding-bottom: 80px;
    }

}

@media screen and (min-width: 1200px) {
    .about-team {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .about-wrap-text-team {
        margin-top: 100px;
    }

    .team {
        padding-bottom: 100px;
    }

    .team-text {
        width: 519px;
        text-indent: 89px;
    }

    .team-title-about {
        font-size: 44px;
        height: 120px;
    }

    .team-text-about {
        width: 590px;
        text-indent: 128px;
    }

    .team-text-add-about {
        height: 128px;
    }
    
}
